<div>
  <div class="line"></div>
  <div class="title">
    <div class="name">
      <div class="flower">
        <%= image_tag("lotus2.jpg", :alt => "lotus flower") %>
      </div>
      <h1 class="gloria">Gloria Flores<p class="certification">HHP, CST-D</p></h1>
      <h3 class="cranio">Certified Craniosacral Therapist</h3>
    </div>

    <div>
      <%= render :partial => 'layouts/carousel' %>
    </div>
  </div>

  <div class="line1"></div>
  <ul class="pagination">
    <li><a href="#" class="page">Home</a></li>
    <li><a href="#" class="page">About</a></li>
    <li><a href="#" class="page">Treatment</a></li>
    <li><a href="#" class="page">Visit Me</a></li>
  </ul>
</div>
