$pagination-hover-color: #004400;
$pagination-color: #007700;
$pagination-hover-bg: #CCDDBB;

@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Gilda+Display);

body {
  background-color: #CCDDBB;
  color: #333;
  font-family: 'Gilda Display', serif;
  font-size: 13px;
  line-height: 18px;
}

/* home page */
.title {
  height: 159px;
  width: 1000px;
  margin-left: 140px;
  background-color: white;
}

.flower{
  padding-top: 25px;
  padding-left: 95px;
  padding-right: 10px;
  float: left;
}

.name {
  padding-top: 10px;
  float: left;
  width: 500px;
  height: 160px;
}

.cranio {
  padding-left: 95px;
  margin-top: 1px;
}

.carousel {
  height: 155px;
  width: 250px;
  float: right;
  margin-right: 42px;
}

.carousel-indicators{
  display: none;
}

.gloria {
  padding-left: 20px;
  font-size: 45px;
  padding-top: 2px;
  color: #005500;
}

.line {
  margin-top: 5px;
  height: 4px;
  background-color: #006600;
  width: 1000px;
  margin-left: 140px;
}

.line1 {
  height: 4px;
  background-color: #006600;
  width: 1000px;
  margin-left: 140px;
  margin-bottom: -150px;
}

.line2 {
  height: 4px;
  background-color: #006600;
  width: 1000px;
  margin-left: 140px;
  margin-top: -25px;
  margin-bottom: 10px;
}

.pagination {
  height: 40px;
  width: 1001px;
  margin-left: 140px;
  background-color: white;
  margin-top: 7px;
  border-bottom: 2px;
}

.page {
  height: 40px;
  text-align: center;
  width: 251px;
  font-size: 20px;
  margin-left: 100px;
  font-family: 'Gilda Display', serif;
  color: #004400;
}

.page:hover {
  background-color: #CCDDBB;
}

.info {
  width: 1000px;
  height: 500px;
  margin-left: 140px;
  background-color: white;
  margin-top: -10px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
