$pagination-hover-color: #004400;
$pagination-color: #007700;
$pagination-hover-bg: #CCDDBB;

@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Gilda+Display);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

body {
  background-color: #CCDDBB;
  color: #333;
  font-family: 'Gilda Display', serif;
  font-size: 13px;
  line-height: 18px;
}


/* home page upper */

.title {
  height: 292px;
  width: 1000px;
  margin-left: 140px;
  background-color: white;
  margin-bottom: 150px;
}

.flower{
  padding-top: 45px;
  padding-left: 30px;
  padding-right: 10px;
  float: left;
}

.name {
  padding-top: 5px;
  float: left;
  width: 600px;
  height: 160px;
}

.gloria {
  padding-left: 20px;
  font-size: 45px;
  padding-top: 30px;
  margin-bottom: -20px;
  color: #40502F;
}

.certificate {
  padding-left: 5px;
  padding-top: 24px;
  padding-right: 130px;
  font-size: 20px;
  float: right;
  color: #808000;
}

.certification {
  padding-top: 0px;
  color: #808000;
}

.cranio {
  margin-top: -5px;
  padding-left: 100px;
  color: #808000;
}

.health {
  padding-left: 100px;
}

.carousel {
  height: 290px;
  width: 370px;
  float: right;
}

.carousel-indicators{
  display: none;
}

.line {
  margin-top: 5px;
  height: 4px;
  background-color: #808000;
  width: 1000px;
  margin-left: 140px;
}

.line1 {
  height: 4px;
  background-color: #808000;
  width: 1000px;
  margin-left: 140px;
  margin-top: -150px;
}

.line2 {
  height: 4px;
  background-color: #808000;
  width: 1000px;
  margin-left: 140px;
  margin-top: -25px;
  margin-bottom: 10px;
}

.pagination {
  height: 40px;
  width: 1001px;
  margin-left: 140px;
  background-color: white;
  margin-top: 7px;
  border-bottom: 2px;
}

.page {
  height: 40px;
  text-align: center;
  width: 201px;
  font-size: 20px;
  margin-left: 100px;
  font-family: 'Gilda Display', serif;
  color: #6B8E23;
}

.page:hover {
  background-color: #556B2F;
}



/* home page lower */

.info {
  width: 1000px;
  height: 850px;
  margin-left: 140px;
  background-color: white;
  margin-top: -10px;
}

.info-title{
  color: #40502F;
}

.main {
  width: 650px;
  padding-left: 100px;
  padding-top: 35px;
}

.mission {
  color: #556B2F;
}

.signed-by {
  color: #707000;
}

.expertise {
  float: right;
  padding-top: 50px;
  padding-right: 50px;
}

.areas {
  color: #40402F;
  padding-left: 21px;
}

.place {
  margin-bottom: 2px;
  font-family: 'Open Sans', serif;
  color: #556B2F;
  font-size: 16px;
}

.session {
  color: #556B2F;
  font-size: 16px;
}

.serving {
  color: #556B2F;
  font-size: 16px;
}

.iahp {
  padding-bottom: 14px;
  padding-left: 5px;
}

.credit {
  padding-left: 18px;
}

p, ol, ul, td {
  font-family: 'Open Sans', serif;
  font-size: 14px;
  line-height: 18px;
}



/* About */

.index-main {
  width: 675px;
  padding-left: 100px;
  padding-top: 35px;
}

.main-title {
  color: #40502F;
}

.CST-D {
 margin-bottom: -45px;
 font-size: 20px;
 color: #40502F;
}

.qualified {
  color: #909000;
}

.expertise1 {
  float: right;
  padding-top: 50px;
  padding-right: 95px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
  color: #40502F;
}

h5 {
  font-family: 'Open Sans', serif;
  font-size: 16px;
  margin-bottom: 3px;
  color: #909000;
}

.yelp {
  font-size: 15px;
}



/* Treatment Page */

.info1 {
  width: 1000px;
  height: 950px;
  margin-left: 140px;
  background-color: white;
  margin-top: -10px;
}

.treatment {
  width: 700px;
  padding-left: 100px;
  padding-top: 35px;
}

.help {
  color: #40502F;
  padding-right: 75px;
  font-size: 26px;
}

.testimonials {
  float: right;
  padding-right: 30px;
  padding-top: 100px;
  width: 250px;
}

.testimonial {
  padding-left: 15px;
  color: #40502F;
}

.client {
  font-size: 16px;
  padding-left: 15px;
}

.rates {
  padding-left: 85px;
}

.consult {
  color: #909000;
}

.button {
  padding-left: 30px;
}

.btn.btn-default {
  background-color: #CCDDBB;
}

.btn.btn-default:hover {
  background-color: #6B8E23;
}



/* Visit Us Page */
.info2 {
  width: 1000px;
  height: 650px;
  margin-left: 140px;
  background-color: white;
  margin-top: -10px;
}

.appointment {
  color: #40502F;
  padding-left: 100px;
  padding-top: 35px;
  font-size: 28px;
}

.map {
  float: right;
  padding-right: 75px;
  padding-top: 100px;
}

.contact {
  padding-left: 100px;  
}



/* Learn More Page */
.learn {
  color: #808000;
  padding-left: 100px;
  padding-top: 35px;
  font-size: 28px;
}















