@import "bootstrap";


body {
  background-color: #CCDDBB;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* home page */
.title {
  height: 160px;
  width: 1000px;
  margin-left: 100px;
  background-color: white;
}

.name {
  margin-left: 85px;
  padding-top: 5px;
}

.carousel {
  height: 150px;
  width: 170px;
  float: right;
  margin-top: -72px;
  margin-right: 70px;
}

.carousel-indicators{
  display: none;
}

.gloria {
  font-size: 45px;
}

.line {
  height: 6px;
  background-color: #006600;
  width: 1000px;
  margin-left: 100px;
}

.pages {
  height: 39px;
  width: 1000px;
  margin-left: 100px;
  background-color: white;
  /*margin-top: 5px;*/
}

.pagination {
  /*margin-top: -1px;*/
  width: 1002px;
}

.page {
  height: 40px;
  text-align: center;
  width: 250px;
  font-size: 20px;
  /*margin-top: -80px;*/
  margin-left: 100px;
  clear: all;
}

.page.hover {
  background-color: #CCDDBB;
}

.info {
  width: 1000px;
  height: 500px;
  margin-left: 100px;
  background-color: white;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
